


.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  a:not(.btn) {
    text-decoration: underline; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .container {
    min-width: 992px !important; }
  .navbar {
    display: none; }
  .badge {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important; } }

body {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #606e7f; }
  body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%; }

span {
  color: #96a1af; }

.ftco-section-3 {
  padding: 18em 0;
  position: relative;
  margin-top: 4rem;}
 
  
  .ftco-section-3 .overlay {
    position: absolute;
    top: 50em;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .9;

    }

.about-video h2 {
  color: #fff;
  font-size: 55px; }
  @media (max-width: 767.98px) {
    .about-video h2 {
      font-size: 38px;
      margin-bottom: 50px; } }

.about-video .button {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #167ce9;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite; }
  @media (min-width: 368px) {
    .about-video .button {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -19em; } }
  .about-video .button span {
    font-size: 30px;
    color: #fff; }


.block-3 .text, .block-3 .image {
  width: 100%;
  padding: 10% 7%;
  display: block; }
  @media (min-width: 768px) {
    .block-3 .text, .block-3 .image {
      width: 50%;
      padding: 10% 7%; } }

.block-3 .text .subheading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1em; }

.block-3 .text .heading {
  font-size: 30px;
  margin-bottom: 30px; }
  .block-3 .text .heading a {
    color: #1b212c; }

.block-3 .text p:last-child {
  margin-bottom: 0; }

.block-3 .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .block-3 .image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    -webkit-box-shadow: 20px 20px 0 0 #8bbef4;
    box-shadow: 20px 20px 0 0 #8bbef4; }
  .block-3 .image.image-2:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    -webkit-box-shadow: -20px 20px 0 0 #8bbef4;
    box-shadow: -20px 20px 0 0 #8bbef4; }
  @media (max-width: 767.98px) {
    .block-3 .image {
      height: 300px; } }




.media .ftco-icon {
  width: 100px; }
  .media .ftco-icon span {
    color: #167ce9; }

.ftco-media {
  background: #fff;
  border-radius: 0px; }
  .ftco-media .heading {
    font-weight: normal; }
  .ftco-media.ftco-media-shadow {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    position: relative;
    top: 0; }
    .ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
      top: -3px;
      -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
  .ftco-media .icon {
    font-size: 50px;
    display: block;
    color: #167ce9; }
  .ftco-media.text-center .ftco-icon {
    margin: 0 auto; }

.ftco-overflow-hidden {
  overflow: hidden; }

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4);
    box-shadow: 0 0 0 0 rgba(22, 124, 233, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(22, 124, 233, 0);
    box-shadow: 0 0 0 30px rgba(22, 124, 233, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(22, 124, 233, 0);
    box-shadow: 0 0 0 0 rgba(22, 124, 233, 0); } }


.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }


#section-counter {
  position: relative;
  z-index: 0; }

.ftco-counter {
  padding: 0em 0; }
  .ftco-counter .text strong.number {
    font-weight: 600;
    font-size: 35px;
    color: #080808; }
  .ftco-counter .text span {
    font-size: 16px;
    color: #28282a; }
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 10px; } }

      .ftco-counter .text span2 {
        font-size: 33px;
        font-weight: 600;
        color: #28282a; }
      @media (max-width: 767.98px) {
        .ftco-counter .counter-wrap {
          margin-bottom: 10px; } }






.block-18 .text span {
  display:block; }

  .block-18 .text span2 {
    display:contents; }
